$LightestBlue: #F5F6FA;
$WhiteColor: #ffffff;
$BlackColor: #27251F;
$PrimaryColor: #F4793E;
$secondaryColor: #231F20;
$GreenColor: #25A63F;
$GreenBorder: #B9E4C0;
$GreyColor: #6A6A6A;
$GreyBorder: #CACACA;
$ArrowColor: #B8B4CC;
$ExpandBg: #FDFCFF;
$TableBorder: #D8D8D8;
$Pagination: #616161;
$PaginationActive: #47A1B6;
$Divider: #EEEDEF;